
%head
  %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
.card{:id => "#{issue.id}"}
  .form-group
    - issue.socialinterests.each do |sinterest|
      .chip
        #{sinterest.title}
    - if current_user?(issue.user)
      %span.pull-right
        .dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.material-icons.edit-icon edit
          %ul.dropdown-menu
            %li= link_to "Edit", edit_issue_path(issue)
            %li= link_to "Delete", issue, method: :delete, |
          data: { confirm: "You sure?" }
    %span.pull-right
      #{time_ago_in_words(issue.created_at)} ago.
  .form-group
    %b #{issue.title.humanize}
  .form-group
    %span.content
      = issue.content.gsub(/\n/, '<br/>').html_safe
      = image_tag issue.imageurl.url if issue.imageurl?
