.card{:id => "#{issue.id}"}
  .form-group
    - issue.socialinterests.each do |sinterest|
      .chip
        #{sinterest.title}
    %span.pull-right
      #{time_ago_in_words(issue.created_at)} ago.
  .form-group
    = issue.title
  .form-group
    %span.content
      = issue.content
      = image_tag issue.imageurl.url if issue.imageurl?
  - if current_user?(issue.user)
    = link_to "delete", issue, method: :delete, |
      data: { confirm: "You sure?" }                |
